/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-device-width : 1224px) {
	h1, h2 {
		color: #1bb102;
	}
	h1 {
		font-weight: bold;
		font-size: 48px;
		text-align: center;
		margin-top: 24px;
	}
	h2 {
		font-size: 36px;
	}

	.container {
		width: 960px;
		
	}

	.header {
		height: 460px;
		background: url(header.png);
		background-size: cover;
		background-position: center center;
		position: relative;
	}
	.header .stripe {
		height: 40px;
		background: rgba(255,255,255,0.2);
	}
	.header .content {
		margin-top: -40px;
	}
	.header .content .menu {
		height: 40px;
	}
	.header .content .menu .lines {
		width: 19px;
		float: left;
	}
	.header .content .menu .lines div:first-child {
		margin-top: 10px;
	}
	.header .content .menu .lines div {
		height: 2px;
		background: white;
		margin-bottom: 4px;
	}
	.header .content .menu .logo {
		font-size: 20px;
		color: white;
		float: left;
		margin-left: 10px;
		text-transform: uppercase;
		font-weight: bold;
		height: 100%;
		vertical-align: middle;
	}
	.header .content .form {
		padding: 20px;
		width: 300px;
		height: 320px;
		border-radius: 40px;
		background: rgba(0,0,0,0.2);
	}
	.header .content .promo {
		float: left;
		width: 490px;
		height: 420px;
		padding-right: 60px;
		text-align: right;
	}
	.header .content .promo p {
		font-weight: bold;
		font-size: 36px;
		line-height: 45px;
		color: white;
		padding-top: 140px;
	}
	.form {
		margin-top: 28px;
		float: left;
	}
	.form .form__header {
		color: white;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		border-bottom: 1px solid white;
		height: 25px;
	}
	.form .form__control {
		margin-top: 21px;
	}
	.form .form__control input,
	.form .form__control select {
		width: 280px;
		padding: 6px 10px;
		border-radius: 2px;
		border:none;
		border-top: 1px solid #a8a8a8;
		border-left: 1px solid #a8a8a8;
		font-size: 14px;
	}
	.form .form__control select {
		width: 300px;
	}
	.form .form__footer {
		margin-top: 20px;
		border-top: 1px solid white;
		text-align: center;
	}
	.form .form__footer button {
		background: white;
		border: none;
		height: 41px;
		width: 180px;
		border-radius: 20px;
		margin-top: 16px;
		font-size: 24px;
		font-weight: bold;
	}
	.form .form__footer button div {
		background:url(form-button.png) no-repeat right center;
		text-align: left;
		width: 120px;
		margin: auto;
	}

	.advantages {
		height: 260px;
		background: #f0f0f0;
	}
	.advantages ul {
		margin-top: 25px;
	}
	.advantages ul li {
		display: block;
		font-size: 18px;
		font-weight: bold;
		width: 409px;
		background: url(item.png) no-repeat left top;
		min-height: 30px;
		padding-left: 41px;
		float: left;
		margin-top: 5px;
		padding-top: 8px;
		line-height: 21px;
	}

	/**** ROOMS ****/
	.rooms {
		background-image: url(background-rooms.png);
		height: 606px;
		background-size: cover;
		background-position: center center;
	}

	/**** PRICE ****/
	.price {
		background: #f0f0f0;
	}

	/**** REVIEWS ****/
	.reviews {
		background: #dedede;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@font-face {
    font-family: Gothic;
    src: url(fonts/Gothic.ttf);
   }
@font-face {
    font-family: GothicRegular;
    src: url(fonts/GothicRegular.ttf);
   }
* {
	font-family: GothicRegular, CenturyGothic, AppleGothic, sans-serif;
}
.clear {
	clear: both;
}